.line {
	border-top: 5px solid #222;
	width: 1200px;
	margin: 80px auto 20px;
	display: block;
}

.banner_container {
	height: 400px;
	position: relative;
}

.sliderimg {
	width: 100%;
	height: 400px;
	position: absolute;
}

.banner_content_container {
	width: 550px;
	height: 320px;
	background-color: rgba(0, 0, 0, 0.65);
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
}

.banner_who {
	text-align: center;
	color: #ffffff;
	letter-spacing: 2px;
}

.banner_title {
	text-align: center;
	color: #ffffff;
}

.banner_btn {
	background: none;
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #ffffff;
	cursor: pointer;
	margin: auto;
	display: block;
}

.more_btn {
	background: none;
	border: 1px solid;
	padding: 10px 15px;
	cursor: pointer;
	margin-left: 20px;
}

.main_title {
	width: 1250px;
	margin : auto;
}

/* ConcertCard css */
.concercard_container {
	display: grid;
  grid-template-columns: repeat(4, minmax(250px, 200px));
  column-gap: 30px;
  justify-content: center;
}