/* Mypage css */
.mypage_container {
  min-height: 1500px;
  margin-top: 50px;
}

.mypage_content {
  padding: 50px 17%;
}

.mypage_line {
  border-top: 5px solid #222;
	width: 1110px;
	margin: 50px auto 0;
	display: block;
}

.nftlist {
  margin-top: 50px;
}

/* modal css */
.mypage_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_line {
  border-top: 3px solid #222;
	width: 460px;
	margin: 20px auto 0;
	display: block;
}

.modal_line2 {
  border-top: 2px dotted rgb(167, 164, 164);
	width: 410px;
	margin: 20px auto 20px;
	display: block;
}

.modal_title {
  margin-left: 20px;
}

.ticketinfo_box {
  border: 1px solid rgb(179, 174, 174);
  padding: 10px 0 10px 20px ;
  margin: 10px 0 20px ;
  width: 385px;
}

.modal_imgtext {
  height: 120px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal_img {
  width: 25%;
  float: left;
}

.modal_img img {
  width: 80px;
}

.modal_text1 {
  color: rgb(157, 153, 153);
}

.modal_info {
  margin-left: 30px;
  margin-right: 30px;
}

.modal_btn {
  color: white;
  background-color: black;
	border: 1px solid;
	padding: 12px 50px;
	cursor: pointer;
  margin: 20px auto 5px ;
	display: block;
  font-weight: 700;
}