/* Nav css */
.kakao_btn {
  border:none;
  background-color: transparent; 
}

.nav_btn {
  background: none;
	border: none;
	cursor: pointer;
  padding: 0 15px;
  font-size:large;
}

/* Footer css */
.footer_container {
  text-align: center;
}

/* Emptypage css */
.emptypage_container {
  min-height: 1000px;
}

.emptymessage {
  width: 300px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emptypage_btn {
  background: none;
	border: 1px solid;
	padding: 10px 50px;
	cursor: pointer;
  margin: 30px auto 20px auto;
	display: block;
}

/* loading css */
.loading_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(31, 30, 30, 0.9);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading_text {
  font-size: 40px;
  color: white;
}