/* Allconcert css */
.allcon_img {
  height: 140px;
}

/* Onsale css */
.price_icon {
  width: 25%;
  float: left;
}

/* MarketplaceCard css */
.marketplace_card_line {
  background: none;
	border-top: 2px dotted rgb(167, 164, 164);
  margin-top: 20px;
	display: block;
  width: 210px;
}